
$button-color: #6f6f6f;
$button-backgroundcolor: #bebebe;

.redBg {
    background-color: red;
    border-radius: 51px;
    color: white;
    padding: 5px;
}

#start-survey-btn-div{
  padding-top: 10%;
}
.start-survey {
    background-color: $button-backgroundcolor;
    color: $button-color;
    width: 24vw;
    height: 6vh;
}

.next-btn {
    position: absolute;
    bottom: 2vh;
    right: 35vw;
}
.choose-btn {
    width: 12%;
    //height: 5.5vh;
    color: #737070;
    border-radius: 8px;
    background-color: #efefef;
}
.choose-btn:disabled {
    color: #6f6f6f;
    border-radius: 8px;
    background-color: #cacaca;
}
