
.pressnext {
  //margin-top: 7%;
  padding-left: 25%;
  padding-right: 25%;
}
.survey-info-testtask {
  //margin-top: 7%;
  padding-left: 30%;
  padding-right: 22%;
  padding-top: 1%;
}
.redishcolor {
  color: #887272;
}

.chosenBuildingColor {
  color: #00b3ee;
}
