#mapdiv {
  height: 100%
}

.mapbox {
  position: relative
}
.mapbox .overlay {
  position: absolute;
  top: 10%;
  left: 2%;
  pointer-events: none;
  z-index: 9999;
}
.mapbox .overlay .btn {
  pointer-events: initial;
}

.ridgeLineBox {
  text-align: center;
  height: 200px;
  border: 1px solid #444;
  background-color: rgba(183, 181, 181, 0.8);
}
