.comment-box-size {
  height: 90px;
}

.register-div{
  text-align: center;
}

.margin-right {margin-right: 2%;}
.margin-left {margin-left: 15px;}
.margin-top {margin-top: 4%;}

//Register form
.pure-form-aligned .pure-control-group {
  width: 35vw !important;
}
.pure-form .pure-form-aligned {
  width: 22vw;
}
#register-input {
  width: 15vw !important;
}
input[type=text] {
  width: 15vw !important;
}
.survey-background {
  background-image: url("../src/client/components/assets/triangleGlobeM.png");
  background-repeat: no-repeat;
  background-size: 44%;
  width: 100vw;
  height: 100vh;

}

.padding-survey {
  padding-top: 4%;
  padding-left: 2%;
}
