.comment-box-size {
  height: 90px;
}

.register-div{
  text-align: center;
}
.small-margin-top{margin-top: 2%}
.margin-right {margin-right: 2%;}
.margin-left {margin-left: 15px;}
.margin-top {margin-top: 4%;}
.margin-negative-left {margin-left: -6%;}
.radio-btn-margin {margin: 2%;}
//Register form
.pure-form-aligned .pure-control-group {
  width: 35vw !important;
}
.pure-form .pure-form-aligned {
  width: 22vw;
}
#register-input {
  width: 15vw !important;
}
input[type=text] {
  width: 15vw !important;
}
.survey-background {
  background-image: url("../src/client/components/assets/triangleGlobeM.png");
  background-repeat: no-repeat;
  background-size: 44%;
  width: 100vw;
  height: 100vh;

}

.padding-survey {
  padding-top: 4%;
  padding-left: 2%;
}

.survey-comment-textarea {
  width: 26vw;
  height: 11vh;
  margin-left: 9px;
}
