.task-map-box {
  padding-left: 4%;
  padding-right: 4%;
}
.task-box {
  background-color: rgba(204, 204, 204, 0.8);
  //background-image: url("../src/client/components/assets/RectangleView.png");
  //background-repeat: no-repeat;
  //background-position: center;
  height: 80vh;
  //width: 60vw;
  text-align: center;
  color: #292929;
  overflow: scroll;
  margin-top: 0.5rem;
}
.leaflet-container {
  height: 80vh;
  width: 45vw;
  margin: 0 auto;
  position: relative;
}
.task-header {
  margin-top: 2%;
}
.task-div {
  padding-top: 6%;
  padding-left: 2%;
}
.leaflet-popup-content-wrapper {
  width: 8vw;
  height: 10vh;
}
#chosenGeom {
  color: #292929;
}

th, td {
  text-align: center;
}

.margin-right {margin-right: 2%;}

.progressDIV {
  width: 30%;
  margin: 1%;
  padding-right: 4%;
}
.progress-bar-orange {
  background-color: orange !important;
}
.pull-left{float:left}
.pull-right{float:right}
.pull-center{text-align: center;}
.media-name{margin: -2% 2% 0 0;}
